.productCardContiner{
    width:400px;
    height:400px;
   display: inline-flex;
   margin:20px;
   overflow:hidden;
   flex-direction: column;
   

}

.imgeContiner{
    width:150px;
    height:150px;

}

.ProductImg{
 width:100%;
 height: 100%;

}

.TextContiner{
flex:1;
color: rgb(250, 246, 246);
}
.ProductName {
    font-weight:bold; 
    color:black
}
.Productprice {
    

    font-weight:bold;
    color: green;

}
.Productdescription{
    font-size: small;
}

.TextContiner p{
    margin: 0;
}
.button {
 color: rgb(32, 8, 8);
 font-weight:bold;
    
}
.button:hover {
    color: green;
}
.Productmodel{
   color:black
}