.CommentCard {
    background: #fff;
    border-radius: 2px;
    display: block;
    height: fit-content;
    margin: 1rem;
    width: 600px;
    padding:20px;
    border-radius: 25px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }


  .TimeAgoComments{
     
  }
